:root {
  --color-dark: #eed;
  --bg-color-dark: #111;
  --comment-color: rgb(250, 193, 193);
  --comment-color-dark: rgb(200, 0, 0);
  --border-color: #444;
  --border-color-dark: #aaa;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

html {
  height: 100%;
  width: 100%;
  font-family: "メイリオ", "Meiryo", sans-serif;
  font-size: 18px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-flow: column;
}

div {
  padding: 0px;
  margin: 0px;
}

#page_loading,
#settings {
  display: none;
}

.top {
  background-color: #333;
  padding: 3px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow-y: auto;
  display: inline-flex;
  font-size: small;
  color: #fff;
  z-index: 3;
  transition: 0.5s;
}

.top ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.top li {
  padding: 0px 2px;
  margin: 0;
  position: relative;
  white-space: nowrap;
}

.top li.blank {
  padding: 0px 10px;
}

.top li.switch {
  width: 80px;
}

.top li input {
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 2px 10px;
}

.top li img.icon {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  padding: 0px;
  border-radius: 5px;
}

.top li img.icon2 {
  height: 18px;
  /* width: 18px; */
  vertical-align: middle;
  padding: 0px;
  border-radius: 5px;
}

.top li img.icon_bottom {
  height: 10px;
  width: 10px;
  vertical-align: bottom;
  padding: 0px;
  margin: 0px;
}

.top li img.icon:hover,
.top li img.icon_bottom:hover {
  cursor: pointer;
  opacity: 0.5;
}

.top li.hidden {
  display: none;
}

/* https://qiita.com/dojyorin/items/6b2893b3e46597948a43 */
.top li.switch input[type="checkbox"] {
  display: none;
}

.top li.switch input[type="checkbox"]+label.check {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 18px;
  margin-top: 8px;
  color: #969696;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  background-color: #ffffff;
}

.top li.switch input[type="checkbox"]:checked+label.check {
  border: 1px solid #4db4e4;
  background-color: #4db4e4;
}

.top li.switch input[type="checkbox"]+label.check::before {
  position: absolute;
  top: 2px;
  left: auto;
  right: 6px;
}

.top li.switch input[type="checkbox"]:checked+label.check::before {
  position: absolute;
  left: 6px;
  right: auto;
  color: #ffffff;
}

.top li.switch input[type="checkbox"]+label.check>div {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 16px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  background-color: #ffffff;
  transition: 0.2s;
}

.top label {
  border-radius: 2px;
  padding: 2px;
}

.top li.switch input[type="checkbox"]:checked+label.check>div {
  border: 1px solid transparent;
  left: 44px;
}

li#word_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: #111;
  font-size: x-small;
  height: 25px;
  margin: 0;
  padding: 0;
}

li#word_menu>div {
  height: 100%;
  border: #111 1px solid;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

li#word_menu>div>* {
  height: 100%;
  margin: 0;
  padding: 0;
}

li#li_zumen_analysis {
  background-color: #eee;
}

input#word_inversion_lightness {
  padding: 0;
  margin: 0;
  width: 70px;
  vertical-align: middle;
}

.top li#word_menu>div {
  text-align: center;
}

#doc_title {
  width: 150px;
}

div#word_query {
  border-radius: 3px;
  padding: 2px 10px;
  background-color: #f3f3f3;
  color: #000;
  min-width: 250px;
  white-space: pre;
}

div#word_query:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  /* For Firefox */
  color: #888;
}

div#word_query span.query_unit {
  cursor: pointer;
}

div#help {
  z-index: 2;
  position: absolute;
  top: 50px;
  left: 300px;
  width: 500px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: rgb(203, 255, 220);
  display: none;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}

div#help:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -20px;
  border: 20px solid transparent;
  border-bottom: 20px solid #000;
}

div#color_picker {
  z-index: 2;
  position: absolute;
  top: 50px;
  left: 300px;
  width: 250px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  display: none;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

div#color_picker:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -20px;
  border: 20px solid transparent;
  border-bottom: 20px solid #666;
}

div#color_picker_comment {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: -100px;
  width: 250px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  display: none;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.bottom {
  display: flex;
  flex-grow: 1;
  padding: 0px;
  flex-direction: row;
  overflow: hidden;
}

.column {
  height: 100%;
}

#zumen {
  overflow-y: scroll;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: white;
}

div.bottom>div.gutter {
  display: var(--zumen-display);
}

#zumen div {
  text-align: center;
}

body #zumen img {
  max-width: 95%;
  max-height: 500px;
  cursor: pointer;
  display: block;
  margin: auto;
}

#zumen h4 {
  margin: 5px;
}

#zumen .cap {
  font-size: small;
  text-align: left;
}

#zumen .memo {
  padding: 5px;
  margin: 5px;
  border: 1px solid #888;
  font-size: small;
}

#zumen .memo * {
  font-size: small;
}

#zumen .memo:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  /* For Firefox */
}

#zumen h3.analyzed:after {
  content: " ✓";
  font-size: small;
  color: rgb(105, 209, 1);
}

#text {
  flex-shrink: 1;
  flex-grow: 1;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
}

#main {
  background-color: #fff;
  overflow-y: scroll;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  transition: 0.5s;
}

#contenteditable_container {
  display: flex;
  flex-direction: row;
}

#content {
  width: 70%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  word-wrap: break-word;
  border: 1px solid #000;
  line-height: 1.6;
}

#content img {
  max-width: 100%;
}

#content iframe {
  width: 100%;
  height: 100%;
}

#comment_container {
  width: 30%;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-flow: row;
}

#comment_svg {
  width: 15px;
  flex-shrink: 0;
  flex-grow: 0;
}

#comment_svg>svg {
  width: 100%;
  height: 100%;
}

#comment_div {
  width: calc(100% - 15px);
  flex-shrink: 1;
  flex-grow: 0;
  position: relative;
}

#spectrum {
  width: 220px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

/* canvas関係　*/
canvas#spectrum_bar {
  background-color: black;
}

canvas#spectrum_bar:hover {
  cursor: pointer;
}

/*
 コメント関係
*/
#comment_div div.comment {
  min-height: 30px;
  margin: 0;
  padding: 5px;
  color: #000;
  background: var(--comment-color);
  text-align: left;
  word-wrap: break-word;
  position: absolute;
  width: calc(100% - 15px);
  border-radius: 5px;
  left: 0px;
  border: 2px var(--comment-color) solid;
}

#comment_div div.comment p {
  margin: 0;
  padding: 1px;
  /* padding-leftを0にすると、p要素にカーソルが当たらなくなる */
}

#comment_svg polygon {
  fill: var(--comment-color);
  stroke: var(--comment-color);
  stroke-width: 2;
  cursor: pointer;
}

#comment_div div.div_onmouse {
  border-color: var(--border-color) !important;
}

#content span.commented {
  /* background-color: var(--comment-color); */
  border-top: 3px var(--comment-color) solid;
  border-bottom: 3px var(--comment-color) solid;
  color: black;
}

#content span.span_onmouse {
  border-color: var(--border-color) !important;
}

/* #content span.word_inversion {
  border-radius: 3px;
} */

/* その他装飾関係 */
span.bold {
  font-weight: bold;
}

span.underline {
  text-decoration: underline;
}

span.highlighted {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

/* スピナー ここから拝借 https://loading.io/css/*/
#spinner {
  transition: 0.1s;
  display: flex;
  visibility: hidden;
  background: rgb(165, 255, 250);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 200;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

#spinner.visible {
  opacity: 0.8;
  visibility: visible;
}

#spinner_inside {
  margin: auto;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* split.js（カラムのリサイズ）関連 */
.gutter {
  background-color: #000;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

/* 以下、egov専用 */

span.bracket {
  background-color: rgb(238, 238, 238);
}

span.bracket1 {
  color: darkgreen;
}

span.bracket2 {
  color: darkblue;
}

span.bracket2-0 {
  background-color: rgb(238, 238, 238);
}

span.bracket2-1 {
  background-color: rgb(197, 197, 197);
}

span.bracket2-2 {
  background-color: rgb(175, 175, 175);
}

span.bracket2-3 {
  background-color: rgb(150, 150, 150);
}

span.bracket3 {
  color: darkmagenta;
  background-color: rgb(255, 228, 228);
}

span.parallel {
  color: #999;
}

span.refNum {
  color: rgb(0, 180, 0);
}

span.defined {
  text-decoration: underline dotted darkmagenta;
  color: darkmagenta;
  cursor: pointer;
}

details {
  background-color: #cbeeff;
  padding: 5px !important;
  font-size: smaller !important;
}

div.chikujo_detail {
  white-space: pre-wrap;
}

.tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  font: 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.tooltipWord {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}